.project-item {
  display: block;
  background-color: #ccc1;
  backdrop-filter: 15px;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.project-item:hover {
  background-color: #ccc2;
}