.project-item {
  display: block;
  background-color: #ccc1;
  backdrop-filter: 15px;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.project-item:hover {
  background-color: #ccc2;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.task-item {
  display: block;
  background-color: #bbb1;
  backdrop-filter: 15px;
  border-radius: 15px;
  padding: 20px;
  cursor: grab;
}

.icon-button {
  background: none;
  padding: 2px;
  margin: 10px 0 0 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-button:focus {
  border: 1px slateblue solid;
}

.icon {
  min-height: 25px;
  min-width: 25px;
}

a {
  color: unset
}

a:hover {
  color: unset
}

.action-buttons-container {
  display: flex;
  gap: 15px;
  justify-content: right;
}